<mat-sidenav-container class="example-container"  >
    <mat-sidenav mode="side" opened> 
  <app-nav></app-nav>
    </mat-sidenav>
    <mat-sidenav-content>
  <app-username></app-username>
          <mat-card>  
            <mat-toolbar color="primary">  
              <div class="container w-100 row"  >
              <div align="center" style="color:white; text-align: left;  " class="col-6">  
              How to Apply for a Rental Agreement
             
               </div>
               <div align="right"  class="col-6">
                <button class="btn btn-primary" style="vertical-align: middle; display: inline-flex; line-height: 24px;" type="button" routerLink = '/browse'>
                   
                    <span>  
                     
                      Browse Properties</span>
  
                </button>
  
               </div>
               
               <br>
            
            
  
            </div>
            </mat-toolbar>  
          <br><br>  
            <mat-card-content>  


                <iframe width="560" height="315" src="https://www.youtube.com/embed/LgDy_vkeRzs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



            </mat-card-content>  
          </mat-card>  
  
  
                
           
          
                </mat-sidenav-content>
              </mat-sidenav-container>
          
          
          
        
          
          
        