
<app-is-logged-in></app-is-logged-in>
<mat-sidenav-container class="example-container"  >
   <mat-sidenav mode="side" opened> 
    <app-nav></app-nav>
 
 
   </mat-sidenav>
   <mat-sidenav-content>
    <app-username></app-username>

         <mat-card>  
           <mat-toolbar color="primary">  
             <div class="container w-100 row"  >
             <div align="center" style="color:white; text-align: left;  " class="col-6">  
              Add  A Complaint
            
              </div>
 
              <div text align="right"  class="col-6">
              

              </div>
              <br>
           
           
 
           </div>
           </mat-toolbar>  
         <br><br>  
           <mat-card-content>  
         
           
              <mat-card class="my-card">
               <mat-card-content>
                       <form [formGroup]="complaintForm" (ngSubmit)="OnSubmit()">

                         <div >
                           <mat-form-field class="w-100">
                             <mat-label >Please select the agreement you want to lodge a complaint for</mat-label>
                             <select matNativeControl placeholder="Select referance No" required  formControlName ="RentalID">
                               <option [value] ='rent.RENTALAGREEMENTID' *ngFor="let rent of rentals| async" >Reference No: {{rent.REFERENCE_NO}}</option>
                             </select>
                             <mat-error *ngIf="complaintForm.controls['RentalID'].errors?.required && complaintForm.controls['RentalID'].touched">This field  is required</mat-error>

                           </mat-form-field>
                         </div>

                          <mat-form-field class="full-width">
                                 <mat-label>Description</mat-label>
                                 <textarea   matInput formControlName ="Details" placeholder="Please enter description of complaint here"  name="uname"  required></textarea>
                                 <mat-error *ngIf="complaintForm.controls['Details'].errors?.required && complaintForm.controls['Details'].touched">This field  is required</mat-error>

                                </mat-form-field>

                              <br><br>
                              <label>
                                Complaint Image
                                <br>
                          
                                <img src="{{imageUrl}}" (change)="handleFileInput($event.target.files)" style="width: 200; height: 200px" >
                              <input type="file" formControlName="Photo" id="productImage" name="productImage" #Image accept="image/png" (change)="handleFileInput($event.target.files)" class="form-control" >
                              </label> 
                              <br><br>
                              <mat-card-actions>
                               <button mat-raised-button color="primary" routerLink ="/search-complaint"  >Cancel</button>
                                  <button mat-raised-button color="primary" [disabled]= "!complaintForm.valid"   type ="submit">Add Complaint</button>
                              </mat-card-actions>
                              <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#addcomplaint">Open Modal</button>
                              <!-- <input type="number" [(ngModel)]="complaint.UserID" formControlName="UserID" [hidden]="true"  > -->
                       </form> 
               </mat-card-content>
               <mat-card-actions>

               </mat-card-actions>
            </mat-card>
           </mat-card-content>  
         </mat-card>  
         <div id="MyModal1"  mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel" style="color:green">Add complaint Page</h4>
              </div>
              <div class="modal-body">
                <div class="modal-body">
                  <a href="https://motlatso-baps.github.io/HelpInturbidus/pages/626-complaint-management.html" target="_blank" mat-menu-item>
                   
                    <mat-icon class="icons">help_outline</mat-icon>        
                    Go to Help</a>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
               
          
         
               </mat-sidenav-content>
             </mat-sidenav-container>
             <div id="MyModal"  mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel" style="color:rgb(60, 191, 196)">Add Complaint Page</h4>
                  </div>
                  <div class="modal-body">
                    <p>This Add Complaint Page.</p><br/>
                    <p style="color:rgb(60, 191, 196); font-weight: bold">Here you can select to:</p>
                    <p>-Click SELECT RENTAL AGREEMENT to specify the rental agreement you to logde complaint to  </p>
                    <p>-Click DESCRIPTION to provide complaint description  </p>
                    <p>-Click CHOOSE FILE to upload complaint picture  </p>
                    <p>-Click ADD COMPLAINT to add complaint   </p>
                    <p>-Click CANCEL  to cancel complaint   </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
         
         
         
         
         <!-- /////////////////////////////////////////Area Modals //////////////////////////-->
         
         <!-- Add Area modal -->
         
   
         
         
         <!-- Delete Area modal -->
         
         <!-- Modal -->
         <div class="modal fade" id="addcomplaint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header alert-success ">
                 <h3 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Successful</h3>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 <div class="form-group">
                   <label for="exampleFormControlInput1">Successfully added a complaint</label>
                 </div>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-success" data-dismiss="modal" routerLink ="/search-complaint">Ok</button>
               </div>
             </div>
           </div>
         </div>
 
         <ng-template #content let-modal>
          <div class="modal-header alert-success">
            <h3 class="modal-title text-center"  style="text-align: center;">Success</h3>
            <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()" routerLink="/login">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleFormControlInput1">Your complaint was successfully received.We will be in touch. </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" ngbAutofocus  class="btn btn-success" (click)="modal.close()" routerLink="/search-complaint" >Ok</button>
          </div>
        </ng-template>