<mat-sidenav-container class="example-container"  >
  <mat-sidenav mode="side" opened  *ngIf="!isLoggedIn"> 
    <app-nav></app-nav>
  </mat-sidenav>
  <mat-sidenav-content>

 
<nav class="navbar navbar-expand-lg py-3 navbar-dark shadow-sm navbar-inverse navbar-fixed-top" style="  background-color: #111;  ">
  <div class="container">
    <a  class="navbar-brand" >
      <!-- Logo Image -->
      <img src="assets/Logo (2).png"   class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold">Inturbidus</span>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item " style=" font-size: 20px; color: gray; "><a routerLink="/login"  *ngIf="isLoggedIn" class="nav-link">Login <span class="sr-only">(current)</span></a></li>
         <li class="nav-item" style=" font-size: 20px; color: gray; "><a *ngIf="!isLoggedIn "  routerLink="/view-user" class="nav-link">{{names}}<mat-icon class="icons">account_circle</mat-icon></a></li>
        
        <li class="nav-item" style=" font-size: 20px; color: gray; "><a routerLink="/register"  *ngIf="isLoggedIn" class="nav-link">Register</a></li>
      <li class="nav-item" style=" font-size: 20px; color: gray; "><a (click)="logout();"  *ngIf="!isLoggedIn " [hidden]="!isLoggedIn" class="nav-link">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

        <mat-card>  

          <mat-toolbar color="primary">  
            <div class="container w-100 row">
              <div align="center" style="color:white; text-align: left;  " class="col-6">  
                Browse Properties To Rent
               
                </div>


                <div align="right"  class="col-6">
                  <button class="btn btn-primary" style="vertical-align: middle; display: inline-flex; line-height: 24px;" type="button" routerLink = '/Video'>
                     
                      <span>  
                       
                        How to apply for rental agreement</span>
    
                  </button>
    
                 </div>

            
            

           
             <br>
          
          

          </div>
          </mat-toolbar>  
        <br><br>  
          <mat-card-content>  
            <form [formGroup]="searchForm" (ngSubmit)="onFormSubmit()"> 
            <div >
              
              <div class="row"> 
              <div class="col-12">
                <div class="row " >         
   <div class="col-md-4 ">
                <mat-form-field class="col-md-12 w-100 " >
                  <mat-label>Search by</mat-label>
                  <mat-select matInput #SearchBy formControlName="SearchBy" (selectionChange)="hideInput(SearchBy.value)">
                    <mat-option #SearchBy  value="Province"> Location</mat-option>              
                    <mat-option #SearchBy  value="Reference">Property Reference No.</mat-option>
                  </mat-select>
                  <mat-error *ngIf="searchForm.controls['SearchBy'].errors?.required ">This field is required</mat-error>

                </mat-form-field>
              </div>
          
              <div class="col-md-6"  [hidden]="!hideinput"  >
                <mat-form-field class=" col-md w-100" >
                  <mat-label>Search for Property reference no.</mat-label>
                  <input #searchText1 formControlName="searchText1" matInput  placeholder="Search for Property reference no.">
                  <mat-error *ngIf="searchForm.controls['searchText1'].errors?.required ">This field is required</mat-error>
                  <!-- <mat-error *ngIf="searchForm.controls['searchText'].errors?.pattern ">This field is not valid! Special characters are not allowed excluding "-"</mat-error> -->
            
                  
                </mat-form-field>
              </div>
            
              <div class="col-md-2 w-100">
                    
               
                <div class="w-100">
            
                <button mat-raised-button color="primary" type="submit" [hidden]="!hideinput" [disabled]='searchText1.value=="" '>Search</button>
              </div>
              </div>
            
            </div>   
                <div class="row " [hidden]="hideinput||SearchBy.empty"  > 
                  <div class="col-3  ">
                    <mat-form-field class="col-md w-100"  >
                      <mat-label >Select Province</mat-label>
                     
    
                      <mat-select #searchProvince  formControlName="searchProvince"  (selectionChange)="getCity(searchProvince.value)" >
                        <mat-option  matInput *ngFor="let select of allData " value="{{select.ID}}"  >{{select.Name}} <input hidden #searchP  value="{{select.Name}}" ></mat-option>
       
              
                      </mat-select>
                      <mat-error *ngIf="searchForm.controls['searchProvince'].errors?.required ">This field is required</mat-error>
    
                    </mat-form-field>


                  </div>
                  <div class="col-3" [hidden]="allCity==null" >
                    <mat-form-field class="col-md w-100">
                      <mat-label >Select a city </mat-label>
                     
    
                      <mat-select #searchCity  formControlName="searchCity" (selectionChange)="getArea(searchCity.value)"  [(ngModel)]="selectedArea"  >
                        <mat-option  matInput *ngFor="let select of allCity " value="{{select.ID}}"  >{{select.Name}} <input hidden #searchA  value="{{select.Name}}" ></mat-option>
                      </mat-select>
                      <mat-error *ngIf="searchForm.controls['searchCity'].errors?.required ">This field is required</mat-error>
    
                    </mat-form-field>


                  </div>
                  <div class="col-3 " [hidden]="!displayArea" >
                    <mat-form-field class="col-md w-100">
                      <mat-label >Select an area</mat-label>
                     
    
                      <mat-select #searchCity  formControlName="searchArea" [disabled]="disabledArea"  >
                        <mat-option  matInput *ngFor="let select of allArea " value="{{select.ID}}"  >{{select.Name}} </mat-option>
                      </mat-select>
                      <mat-error *ngIf="searchForm.controls['searchArea'].errors?.required ">This field is required</mat-error>
    
                    </mat-form-field>


                  </div>
           
            
              <div class="col-md-3 w-100">
        
                <div class="w-100">
                <button mat-raised-button color="primary" type="submit" [hidden]="hideinput" [disabled]='searchProvince.empty'>Search</button>
              </div>
                <div class="w-100">

                <button mat-raised-button color="primary" type="submit" [hidden]="!hideinput" [disabled]='searchText1.value=="" '>Search</button>
              </div>
              </div>
              </div>
<!-- <div class="row" [hidden]="!hideinput">



  <div class="col-md-6" >
    <mat-form-field class=" col-md w-100" >
      <mat-label>Search for Property reference no.</mat-label>
      <input #searchText1 formControlName="searchText1" matInput  placeholder="Search for Property reference no.">
      <mat-error *ngIf="searchForm.controls['searchText1'].errors?.required ">This field is required</mat-error>

      
    </mat-form-field>
  </div>

  <div class="col-md-3 w-100">
        
    <div class="w-100">
    <button mat-raised-button color="primary" type="submit" [hidden]="hideinput" [disabled]='searchProvince.empty'>Search</button>
  </div>
    <div class="w-100">

    <button mat-raised-button color="primary" type="submit" [hidden]="!hideinput" [disabled]='searchText1.value=="" '>Search</button>
  </div>
  </div>

</div> -->





              <br>
        
              <!-- <p class="col-md-8" >Filters</p> -->
<div class="col-md-12" [hidden]="hideinput">
              <hr ></div>
              <div class="row">
                <div class="col-md-12">
                <mat-form-field [hidden]="hideinput" class="col-md-3">
                  <mat-label>Min Rental Amount</mat-label>
                  <mat-select matInput #SearchByRentMin formControlName="SearchByRentMin"  [(ngModel)]="selectedOption"   (selectionChange)="validateAmount1(SearchByRentMin.value,SearchByRentMax.value)" >
                    <mat-option  value="0" > Any</mat-option>
                    <mat-option  value="1000">R1000</mat-option>
                    <mat-option   value="2000">R2000</mat-option>
                    <mat-option value="3000">R3000</mat-option>
                    <mat-option value="4000">R4000</mat-option>
                    <mat-option value="5000">R5000</mat-option>
                    <mat-option value="6000">R6000</mat-option>
                    <mat-option   value="7000">R7000</mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="searchForm.controls['SearchByRentMin'].errors?.required ">This field is required</mat-error> -->

                </mat-form-field>

                <mat-form-field [hidden]="hideinput" class="col-md-3">
                  <mat-label>Max Rental Amount</mat-label>
                  <mat-select matInput #SearchByRentMax formControlName="SearchByRentMax"  [(ngModel)]="selectedOptionMax"  (selectionChange)="validateAmount2(SearchByRentMin.value,SearchByRentMax.value)">
                    <mat-option  value="0"> Any</mat-option>
                    <mat-option  value="1000"> R1000</mat-option>
                    <mat-option   value="2000">R2000</mat-option>
                    <mat-option value="3000">R3000</mat-option>
                    <mat-option value="4000">R4000</mat-option>
                    <mat-option value="5000">R5000</mat-option>
                    <mat-option value="6000">R6000</mat-option>
                    <mat-option   value="7000">R7000</mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="searchForm.controls['SearchByRentMax'].errors?.required ">This field is required</mat-error> -->

                </mat-form-field>

                <mat-form-field [hidden]="hideinput" class="col-md-3">
                  <mat-label>Property Type</mat-label>
<!-- 
                  <mat-select #searchText  formControlName="searchText"  >
                    <mat-option  matInput *ngFor="let select of allData " value="{{select.ID}}"  >{{select.Name}}</mat-option>
    
          
                  </mat-select> -->
                  <mat-select matInput #SearchByType formControlName="SearchByType"  [(ngModel)]="selectedOption1">
                    <mat-option  matInput *ngFor="let select of Types " value="{{select.ID}}"  >{{select.Name}}</mat-option>

                  
                    <!-- <mat-option #SearchByType value="">Any</mat-option>
                    <mat-option #SearchByType value="Apartment">Apartment</mat-option>
                    <mat-option #SearchByType value="Commune">Commune</mat-option>
                    <mat-option #SearchByType value="House">House</mat-option> -->
                    <!-- <mat-option #SearchByType value="Garden">Garden</mat-option> -->
                  </mat-select>
                  <mat-error *ngIf="searchForm.controls['SearchByType'].errors?.required ">This field is required</mat-error>
  
                </mat-form-field>
                <mat-form-field [hidden]="hideinput" class="col-md-3">
                  <mat-label>Bedrooms</mat-label>
                  <mat-select matInput #SearchByType formControlName="Bedrooms"  [(ngModel)]="selectedOptionBed">
                    <mat-option #SearchByType value="0">Any</mat-option>
                    <mat-option #SearchByType value="1">1+</mat-option>
                    <mat-option #SearchByType value="2">2+</mat-option>
                    <mat-option #SearchByType value="3">3+</mat-option>
                    <mat-option #SearchByType value="4">4+</mat-option>
                    <mat-option #SearchByType value="5">5+</mat-option>
                    <!-- <mat-option #SearchByType value="Garden">Garden</mat-option> -->
                  </mat-select>
                  <mat-error *ngIf="searchForm.controls['SearchByType'].errors?.required ">This field is required</mat-error>
  
                </mat-form-field>
              </div>
           
              </div>
<!-- 
              <div class="col w-100">
        
                <div class="w-100">
                <button mat-raised-button color="primary" type="submit" [hidden]="hideinput" [disabled]='searchProvince.empty'>Search</button>
              </div>
            
              </div> -->
           
              
              </div>
            </div>
            <div class="row">
              </div>



          
             </div>
             </form>
             <!-- <div class="control-group span6 container row">

              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Property Type</mat-label>
                  <mat-select>
                    <mat-option value="Apartment/Flat">Apartment/Flat</mat-option>
                    <mat-option value="Commune">Commune</mat-option>
                    <mat-option value="Townhouse">Townhouse</mat-option>
                    <mat-option value="Garden">Garden</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Rental Amount</mat-label>
                  <mat-select>
                    <mat-option value="R 2000">R 2000</mat-option>
                    <mat-option value="R 3000">R 3000</mat-option>
                    <mat-option value="R 4000">R 4000</mat-option>
                    <mat-option value="R 5000">R 5000</mat-option>
                    <mat-option value="R 6000">R 6000</mat-option>
                    <mat-option value="R 7000">R 7000</mat-option>
                    <mat-option value="R 8000">R 8000</mat-option>
                    <mat-option value="R 9000">R 9000</mat-option>
                    <mat-option value="R 10000">R 10000</mat-option>
                    <mat-option value="R 11000">R 11000</mat-option>
                    <mat-option value="R 12000">R 12000</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Bedrooms</mat-label>
                  <mat-select>
                    <mat-option value="1+">1+</mat-option>
                    <mat-option value="2+">2+</mat-option>
                    <mat-option value="3+">3+</mat-option>
                    <mat-option value="4+">4+</mat-option>
                    <mat-option value="5+">5+</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

             </div> -->
             <br><br>
             <div class="row">
              <div class="col-md-12">
            
                <div id="mdb-lightbox-ui"></div>
            

                 
                  
                
            
              </div>
            </div>
        
          
          <!-- <div *ngIf="!nodata "   class="mat-elevation-z8  w-100">
            <figure class="col-md-4"  *ngFor="let area of allProperty ">
            
                  <div class="container1">

                  <img src="{{area.PHOTO}}" class="img-thumbnail" height="500" width="500">    
                  <div class="bottom-left"><button type="button"   readonly class="btn btn-primary rounded-0 but">Available Now</button>
                  </div>
                </div>
                <h3 style="color:blue" class="text-left my-3">R {{area.AMOUNT}} <br> A {{area.NUMBED}}  bedroom  {{area.PROPERTYTYPEID}} located in {{area.AREAID}} <br> Property Reference No: {{area.PROPERTYID}} <br> {{area.ADDRESS}}
          
                </h3>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)="viewProperty(area.PROPERTYID);" matTooltip="View Property Details" >View Property</button>  
            
            </figure>

          </div>   -->


          <div class="card" *ngFor="let area of allProperty "  style="width: 18rem; margin:0 5px 5px; display:inline-block;">
            <img class="card-img-top" src="{{area.PHOTO}}" style="width:100%; height:200px;" alt="Card image cap">
            <span  *ngIf="date<(area.AVAILABLEDATE |date:'yyyy-MM-dd')"  class="badge badge-success money">Available From {{area.AVAILABLEDATE |date:'dd MMMM yyyy'}}</span>
            <span *ngIf="date>(area.AVAILABLEDATE |date:'yyyy-MM-dd')" class="badge badge-success money">Available Now </span>

            <div class="card-body" style="padding-bottom:5px; padding-top:10px;"> 
              <table class="table table-striped text-center " style="table-layout: fixed;width: 100%;">
               <tbody>
                <tr >
                  <td class="text-center" colspan="4"><b>Rental Amount: R {{area.AMOUNT}} per month</b></td>
                </tr>
                <tr>
                  <td style="text-align:left;"  colspan="4">A {{area.NUMBED}}  bedroom  {{area.PROPERTYTYPEID}} located in <b>{{area.AREAID}}</b></td>
                </tr>
                <!-- <tr>
                  <td style="text-align:left;"  colspan="4">{{area.ADDRESS}} </td>
                </tr> -->
                 <tr>
                  <td style="text-align:left;"  colspan="4">Property Reference No: <b>{{area.PROPERTYID}}</b></td>
                </tr>
              </tbody>
              </table>

              
              <p class="card-text" style="text-align:right;">                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)="viewProperty(area.PROPERTYID);" matTooltip="View Property Details" >View Property</button>  
              </p>
            </div>
          </div>

          <div class="card" *ngIf="!nodata &&Property"  style="width: 18rem; margin:0 5px 5px; display:inline-block;">
            <img class="card-img-top" src="{{Property.PHOTO}}" style="width:100%; height:200px;" alt="Card image cap">
            <span *ngIf="date<(Property.AVAILABLEDATE |date:'yyyy-MM-dd')" class="badge badge-success money">Available From {{Property.AVAILABLEDATE |date:'dd MMMM yyyy'}} </span>
            <span *ngIf="date>(Property.AVAILABLEDATE |date:'yyyy-MM-dd')" class="badge badge-success money">Available Now </span>
            <div class="card-body" style="padding-bottom:5px; padding-top:10px;"> 
              <table class="table table-striped text-center " style="table-layout: fixed;width: 100%;">
               <tbody>
                <tr >
                  <td class="text-center" colspan="4"><b>Rental Amount: R {{Property.AMOUNT}} per month</b></td>
                </tr>
                <tr>
                  <td style="text-align:left;"  colspan="4">A {{Property.NUMBED}}  bedroom  {{Property.PROPERTYTYPEID}} located in <b>{{Property.AREAID}}</b></td>
                </tr>
                <!-- <tr>
                  <td style="text-align:left;"  colspan="4">{{Property.ADDRESS}} </td>
                </tr> -->
                 <tr>
                  <td style="text-align:left;"  colspan="4">Property Reference No: <b>{{Property.PROPERTYID}}</b></td>
                </tr>
              </tbody>
              </table>

              
              <p class="card-text" style="text-align:right;">                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)="viewProperty(Property.PROPERTYID);" matTooltip="View Property Details" >View Property</button>  
              </p>
            </div>
          </div>













          <!-- <div *ngIf="!nodata &&Property" class="mat-elevation-z8 table w-100">
            <figure class="col-md-4" >
              
              <img src="{{Property.PHOTO}}" class="img-thumbnail" height="500" width="500">    
              <div class="bottom-left"><button type="button" class="btn btn-primary rounded-0">Primary</button>
              </div>
              
                <h3 style="color:blue" class="text-left my-3">R {{Property.AMOUNT}} <br><br> A {{Property.NUMBED}}  bedroom  {{Property.PROPERTYTYPEID}} located in {{Property.AREAID}} <br> Property Reference No: {{Property.PROPERTYID}} <br> 
          <i class="fa fa-shower"></i>  
                  <i class='fas fa-car'></i>
                </h3>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)="viewProperty(Property.PROPERTYID);" matTooltip="Click Edit Button" >View Property</button>  
             
            </figure>

          </div>   -->
            
           
        
        <div *ngIf="nodata" class="alert alert-danger">
          No properties were found!
        </div>
        <div *ngIf="isNotNumber" class="alert alert-danger">
          Please input a number!
        </div>
          </mat-card-content>  
        </mat-card>  



         
        
              </mat-sidenav-content>
            </mat-sidenav-container>


         <ng-template #content let-modal>
              <div class="modal-header alert-success">
                <h3 class="modal-title text-center"  style="text-align: center;">Error</h3>
                <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()" routerLink="/login">
                  <span aria-hidden="true">&times;</span>
                </button> -->
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="exampleFormControlInput1">{{myError}}</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" ngbAutofocus  class="btn btn-success" (click)="modal.close()" routerLink="/"   >Ok</button>
              </div>
            </ng-template>
              
        
            <!-- <div class="row">
              <div class="col-4">
               <img  src="assets/logo.jpg"  alt="" class="d-inline-block align-middle mr-2">
 
 
              </div>
              <div class="col-8">
               <nav class="navbar  navbar-dark "  style="  background-color: #111;  ">
         
                 <div class="container-fluid">
                   <div class="navbar-header">
                     <a class="navbar-brand" href="#"></a>
                    
                    
                   </div>
              
                    <div align="right"  class="col-12"  style="color:white;">
                      
                     <i class="fa fa-user icon" routerLink="login"> Login</i>
       
                     <i class="fa fa-sign-in" routerLink="register">Register</i> 
       
                    </div>
                   <ul class="nav navbar-nav navbar-right nav-item nav-link">
                     <a><li style=" font-size: 20px; color: gray; "><img class = 'images'   src="assets/logo.jpg"  align="left"/></li></a>
                   </ul>
                 </div>
               </nav>
              </div>
              </div> -->

                              <!--HTML for HELP MODAL. Load help message from database-->
<div id="MyModal"  mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" data-dismiss="modal"  (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel" style="color:rgb(60, 191, 196)">Browse Properties Page</h4>
      </div>
      <div class="modal-body">
        <p>This is the Browse Properties Page.</p><br/>
        <p style="color:rgb(60, 191, 196); font-weight: bold;">Here you can select to:</p>
        <p>-Click SEARCH BY to search by Location or Property Reference </p>
        <p>-Click SELECT PROPERTY TYPE  to choose Property Type</p>
        <p>-Click VIEW PROPERTY  to view Property Details</p>
        <p>-SELECT the filters to filter the properties</p>
        <p>-Click SEARCH  to search for Properties</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End of help modal-->
<div id="MyModal1"  mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
 
        <h4 class="modal-title w-100" id="myModalLabel" style="color:green">Browse properties</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <a href="https://motlatso-baps.github.io/HelpInturbidus/pages/621-home-page.html" target="_blank" mat-menu-item>
           
            <mat-icon class="icons">help_outline</mat-icon>        
            Go to Help</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>