<app-is-logged-in></app-is-logged-in>
<mat-sidenav-container class="example-container"  >
  <mat-sidenav mode="side" opened> 
<app-nav></app-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-username></app-username>
        <mat-card>  
          <mat-toolbar color="primary">  
            <div class="container w-100 row"   >
            <div align="center" style="color:white; text-align: left;  " class="col-6">  
             Update Property
           
             </div>
             <br>
          
          

          </div>
          </mat-toolbar>  
        <br><br>  
    
          <mat-card-content>  

      
             <mat-card-content>  
              <form [formGroup]="propertyForm" (ngSubmit)="OnSubmit()">
                <mat-card-content>
                    <input matInput type="text"  hidden formControlName ="PROPERTYID">

                    <div class="row "   > 
                      <div class="col-12  ">
                        <mat-form-field class=" w-100"  >
                          <mat-label >Select Province</mat-label>
                         
        
                          <mat-select #searchProvince  formControlName="searchProvince"  [(ngModel)]="selectedOption"  (selectionChange)="getCity(searchProvince.value)" >
                            <mat-option  matInput *ngFor="let select of allData " value="{{select.ID}}"  >{{select.Name}} <input hidden #searchP  value="{{select.Name}}" ></mat-option>
           
                  
                          </mat-select>
                          <mat-error *ngIf="propertyForm.controls['searchProvince'].errors?.required ">This field is required</mat-error>
        
                        </mat-form-field>
    
    
                      </div>
                      <div class="col-12" [hidden]="allCity==null" >
                        <mat-form-field class=" w-100">
                          <mat-label >Select a city </mat-label>
                         
        
                          <mat-select #searchCity  formControlName="searchCity" (selectionChange)="getArea(searchCity.value)"  [(ngModel)]="selectedOptionCity"  >
                            <mat-option  matInput *ngFor="let select of allCity " value="{{select.ID}}"  >{{select.Name}} <input hidden #searchA  value="{{select.Name}}" ></mat-option>
                          </mat-select>
                          <mat-error *ngIf="propertyForm.controls['searchCity'].errors?.required ">This field is required</mat-error>
        
                        </mat-form-field>
    
    
                      </div>
                      <div class="col-12 " [hidden]="!displayArea" >
                        <mat-form-field class=" w-100">
                          <mat-label >Select an area</mat-label>
                         
        
                          <mat-select #searchCity  formControlName="AREA" [(ngModel)]="selectedOptionArea"  >
                            <mat-option  matInput *ngFor="let select of allArea " value="{{select.ID}}"  >{{select.Name}} </mat-option>
                          </mat-select>
                          <!-- <mat-error *ngIf="propertyForm.controls['AREA'].errors?.pattern  ">AREA is not valid! Special characters, letters and spaces are not allowed!</mat-error> -->
                          <!-- <mat-error *ngIf="propertyForm.controls['AREA'].errors?.required ">AREA is required</mat-error> -->
    
                        </mat-form-field>
    
    
                      </div>
               
             
                  </div>
                 
                  <div >
                    <mat-form-field class="w-100">
                      <mat-label >Property Type</mat-label>
                      <mat-select   placeholder="Select type of property" formControlName ="PROPERTYTYPE" [(ngModel)]="selectedOptionType" >
                        <mat-option *ngFor="let prop of allProductTypes"   value="{{prop.PROPERTYTYPEID}}">{{prop.PROPERTTYPEDESCRIPTION}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="propertyForm.controls['PROPERTYTYPE'].errors?.required ">PROPERTY TYPE is required</mat-error>

                    </mat-form-field>
                  </div>
        
                        <div>
                           <mat-form-field class="w-100">
                               <mat-label>Property Description</mat-label>
                               <input matInput placeholder="Property Description"  formControlName ="PROPERTYDESCRIPTION">
                               <mat-error *ngIf="propertyForm.controls['PROPERTYDESCRIPTION'].errors?.required ">PROPERTY DESCRIPTION is required</mat-error>

                              </mat-form-field>
             
                          </div>
                          <div >
                           <mat-form-field class="w-100">
                               <mat-label>Address</mat-label>
                               <input matInput placeholder="Address"  formControlName ="ADDRESS">
                               <mat-error *ngIf="propertyForm.controls['ADDRESS'].errors?.required ">ADDRESS is required</mat-error>

                             </mat-form-field>
                          </div>
                          <div >
                           <mat-form-field class="w-100">
                               <mat-label>Size</mat-label>
                               <input matInput type="text" maxlength="4"  formControlName ="SIZE" placeholder="Size in square meters ">
                               <mat-error *ngIf="propertyForm.controls['SIZE'].errors?.required ">SIZE is required</mat-error>
                               <mat-error *ngIf="propertyForm.controls['SIZE'].errors?.pattern  ">SIZE is not valid! Special characters, letters and spaces are not allowed!</mat-error>

                             </mat-form-field>
                          </div>
                          <div >
                            <mat-form-field class="w-100">
                                <mat-label>Number of bedrooms</mat-label>
                                <input matInput type="text"  maxlength="2" formControlName ="NUMBED">
                                <mat-error *ngIf="propertyForm.controls['NUMBED'].errors?.required ">NUMBER OF BEDROOMS is required</mat-error>
                                <mat-error *ngIf="propertyForm.controls['NUMBED'].errors?.pattern  ">NUMBER OF BEDROOMS is not valid! Special characters, letters and spaces are not allowed!</mat-error>

                              </mat-form-field>
                           </div>
                           <div >
                            <mat-form-field class="w-100">
                                <mat-label>Number of bathrooms</mat-label>
                                <input matInput type="text" maxlength="2" formControlName ="NUMBBATH">
                                <mat-error *ngIf="propertyForm.controls['NUMBBATH'].errors?.required ">NUMBER OF BATHROOMS is required</mat-error>
                                <mat-error *ngIf="propertyForm.controls['NUMBBATH'].errors?.pattern  ">NUMBER OF BATHROOMS is not valid! Special characters, letters and spaces are not allowed!</mat-error>

                              </mat-form-field>
                           </div>
                           <div >
                             <mat-form-field class="w-100">
                               <mat-label >Is there a Garden</mat-label>
                               <select matNativeControl   formControlName ="GARDEN">
                                 <option value="No">No</option>
                                 <option value="Yes">Yes</option>
                               </select>
                               <mat-error *ngIf="propertyForm.controls['GARDEN'].errors?.required ">GARDEN is required</mat-error>
                               <!-- <mat-error *ngIf="propertyForm.controls['GARDEN'].errors?.pattern  ">GARDEN is not valid! Special characters, letters and spaces are not allowed!</mat-error> -->

                             </mat-form-field>
                           </div>

                           <div >
                            <mat-form-field class="w-100">
                                <mat-label>Additional Info</mat-label>
                                <input matInput type="text"  formControlName ="ADDITIONALINFO">
                                <mat-error *ngIf="propertyForm.controls['ADDITIONALINFO'].errors?.required ">ADDITIONAL INFO is required</mat-error>

                              </mat-form-field>
                           </div>
                           <input hidden type="text"   #PROPERTYSTATUSID1  formControlName ="PROPERTYSTATUSID">

                           <div>
                            <mat-form-field class="w-100" [hidden]="disabl" >
                                <mat-label>Rental Amount</mat-label>
                                <input matInput placeholder="Rental Amount" maxlength="5"     formControlName ="RENTALAMOUNT">
                                <mat-error *ngIf="propertyForm.controls['RENTALAMOUNT'].errors?.required ">RENTALAMOUNT is required</mat-error>
                                <mat-error *ngIf="propertyForm.controls['RENTALAMOUNT'].errors?.pattern ">RENTALAMOUNT is not valid! Spaces, letters and Special characters are not allowed!</mat-error>

                              </mat-form-field>
                            </div>
                            <div >
                              <mat-form-field [hidden]="disabl">
                                <mat-label>AVAILABLE DATE</mat-label>
                                <input matInput [matDatepicker]="pickerStart"  type="text" #AVAILABLEDATE formControlName="AVAILABLEDATE" readonly>
                                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStart></mat-datepicker>
                              </mat-form-field>
                
                             </div>
                            <div>
                          
                            
                   </div>

                           <!-- AMOUNT -->
                           <!-- <div >
                            <mat-form-field class="w-100">
                                <mat-label>Additional Info</mat-label>
                                <input matInput type="text"  formControlName ="ADDITIONALINFO">
                              </mat-form-field>
                           </div> -->


                                   <!-- <div>
                                 
                                    <label>
                                      Property Images
                                      <br>                                    
                                      <input type="file"  multiple="multiple" formControlName="PHOTO" id="productImage" name="productImage" #Image accept="image/png" (change)="selectFiles($event)" class="form-control" >
                                    </label> 
                          </div> -->
                          <div class="w-100">  
                            <ng-container>  
                              <label>New Property Images</label>
                              <div class="file-field">
                                <div class="btn btn-primary btn-sm ">
                                <input type="file" id="file" multiple #images (change)="getFileDetails($event)" accept="image/png"> 
                              </div>
                 
                            </div>
                                <!-- <input type="text" [(ngModel)]="remark">   -->
                                <!-- <button  type="button" class="btn btn-primary" (click)="uploadFiles()">Upload</button>   -->
                            </ng-container>    </div> 
<br>
                            <mat-grid-list cols="2" rowHeight="2:1" *ngFor=" let Type of allProperty" >
                                <div class="container" (click)="deletePhoto(Type.PROPERTY_PHOTO_ID)">
                                <mat-grid-tile ><img src="{{Type.PHOTO}}" class="image" >     
                                    <div class="overlay">
                                        

                                    <div class="text"> <span class="text" style="font-size: 30px;">X</span> <br> <br>  
                                        Click to Delete</div>
                                  </div> 
                                </mat-grid-tile> <br>
                            </div>
                              </mat-grid-list>

<!-- 
<ng-container *ngFor=" let Type of allProperty.photo"  >

<img src="{{Type.PHOTO}}" class="img-thumbnail" height="500" width="500">    &nbsp; &nbsp;

</ng-container> -->








                        
                          
                          <br>

                          <div >
                           
                             <button mat-raised-button color="warn" routerLink="/Properties" >Cancel</button> &nbsp;
                                <button mat-raised-button color="primary"   type ="submit" [disabled]="propertyForm.invalid">Update Property</button>
                          </div>  
                          <!-- <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#adduser">Open Modal</button> -->
                </mat-card-content>
               </form>
        </mat-card-content>    
         
          </mat-card-content>  

        </mat-card>                
         
        
              </mat-sidenav-content>
            </mat-sidenav-container>
        
            <div id="MyModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel" style="color:rgb(60, 191, 196)">Update Property Page</h4>
                  </div>
                  <div class="modal-body">
                    <p>This is the Update Property Page.</p><br/>
                    <p style="color:rgb(60, 191, 196); font-weight: bold">Here you can select to:</p>
                    <p>-Click UPDATE property  to update property details</p>
                    <p>-Click CANCEL to cancel the process   to update property details</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>  
      
        
       
        
        <!-- Add Area modal -->
        
        <!-- Modal -->
        <div class="modal fade" id="addPropertyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
             
            </div>
          </div>
       
        </div>
     
        <!-- Edit Area modal -->
        
        <ng-template #content let-modal>
            <div class="modal-header alert-success">
              <h3 class="modal-title text-center"  style="text-align: center;">Successfully Updated Property</h3>
              <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()" routerLink="/login">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="exampleFormControlInput1">The property was successfully updated. </label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" ngbAutofocus  class="btn btn-success" (click)="modal.close()" routerLink="/Properties" >Ok</button>
            </div>
          </ng-template>

        
      
          
          